django~=6.0.5
django-tree-queries[admin]~=0.24.0
djangorestframework~=3.17.1
drf-spectacular~=0.29.0
gunicorn~=23.0
pandas~=3.0.3
psycopg[binary]~=3.3.4
pyproj~=3.7.2
terracotta==0.9.1
xarray~=2026.4.0
zarr~=3.2.1
